.calculator
{
background-color:black;
}

.calcDisplay
{
readonly;
width:130px;
}

.calculator_support
{
width:130px;
}

.normal_button
{
width:30px;
background-color:gray;
color:white;
}

.large_button
{
width:64px;
background-color:gray;
color:white;
}